In [2]:
# Importing libraries

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('daily-minimum-temperatures-in-me.csv')
data.head(10)

         Date Daily minimum temperatures
0  1981-01-01                       20.7
1  1981-01-02                       17.9
2  1981-01-03                       18.8
3  1981-01-04                       14.6
4  1981-01-05                       15.8
5  1981-01-06                       15.8
6  1981-01-07                       15.8
7  1981-01-08                       17.4
8  1981-01-09                       21.8
9  1981-01-10                       20.0

In [4]:
'Linhas: {} | Colunas: {}'.format(data.shape[0], data.shape[1])

'Linhas: 3652 | Colunas: 2'

In [5]:
data = data.dropna()

In [6]:
'Linhas: {} | Colunas: {}'.format(data.shape[0], data.shape[1])
#data.Date[2:].apply(lambda val: pd.Timestamp(*map(int, str(val).split('-'))))

'Linhas: 3651 | Colunas: 2'

In [7]:
data.dtypes
date = list(data.Date)
print(type(date))
print(type(date[0]))
#[map(pd.Timestamp, date)]

<class 'list'>
<class 'str'>

In [8]:
'Linhas: {} | Colunas: {}'.format(data.shape[0], data.shape[1])

'Linhas: 3651 | Colunas: 2'

In [10]:
date = list(data.Date)
new_data = data.drop('Date', axis=1)
new_data.insert(0, 'Date', date)
new_data.head(10)

         Date Daily minimum temperatures
0  1981-01-01                       20.7
1  1981-01-02                       17.9
2  1981-01-03                       18.8
3  1981-01-04                       14.6
4  1981-01-05                       15.8
5  1981-01-06                       15.8
6  1981-01-07                       15.8
7  1981-01-08                       17.4
8  1981-01-09                       21.8
9  1981-01-10                       20.0

In [13]:
new_data.dtypes
date = list(new_data.Date)
print(type(date))
print(type(date[0]))

<class 'list'>
<class 'str'>

In [14]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
new_data = pd.read_csv('daily-minimum-temperatures-in-me.csv', parse_dates=['Date'])
new_data.plot(x='Date', y='Daily minimum temperatures')

TypeError: Empty 'DataFrame': no numeric data to plot