In [2]:
# Importing libraries

import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

In [3]:
data = pd.read_csv('daily-minimum-temperatures-in-me.csv')
data.head(10)

         Date Temperatures
0  1981-01-01         20.7
1  1981-01-02         17.9
2  1981-01-03         18.8
3  1981-01-04         14.6
4  1981-01-05         15.8
5  1981-01-06         15.8
6  1981-01-07         15.8
7  1981-01-08         17.4
8  1981-01-09         21.8
9  1981-01-10         20.0

In [4]:
'Linhas: {} | Colunas: {}'.format(data.shape[0], data.shape[1])

'Linhas: 3650 | Colunas: 2'

In [5]:
data = data.dropna()
'Linhas: {} | Colunas: {}'.format(data.shape[0], data.shape[1])

'Linhas: 3650 | Colunas: 2'

In [7]:
dateparse = lambda x: pd.datetime.strptime(x, '%Y-%m-%d')
data = pd.read_csv('daily-minimum-temperatures-in-me.csv', parse_dates=['Date'], date_parser=dateparse)

In [12]:
temp = list(data['Temperatures'])
new_temp = []
for i in temp:
    i = float(i).format(i, )
    new_temp.append(i)
print(new_temp[2])

18.8